@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

* {
  margin: 0;
  padding: 0;
}


a {
  text-decoration: none;
  color: #fff;
  font-size: 20px;
  font-weight: 700;
  padding: 10px 20px;
}

a:hover{
  color: #38bdf8;
  background-color: #fff;
}

ul li {
  list-style-type: none;
}

.container {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr 5fr;
  font-family: 'Open Sans', sans-serif;
}

aside {
  background-color: #38bdf8;
  color: #fff;
  grid-column: 1 / 2;
  grid-row: 1 / 5;
}

.top {
  display: flex;
  justify-self: flex-start;
}

h1 {
  font-size: 45px;
}

.menu-2 {
  margin-top: 30px;
  margin-bottom: 300px;
}

aside span {
  padding: 0 25px;
  margin-top: 20px;
}

header {
  grid-column: 2 / 5;
  display: grid;
  grid-template-columns: 2fr 1fr;
  margin-top: 20px;
}

.header-1 {
  margin-left: 50px;
}

.search {
  display: flex;
  align-items:center;
  justify-content: flex-start;
  gap: 20px;
}

input{
  height: 20px;
  width: 80%;
  background-color: #c3c3c3;
}

.hello {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  margin-top: 20px;
}

.admin {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 50px;
  gap: 20px;
}

.buttons {
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin: 40px;
}

button {
  padding: 10px 20px;
  background-color: #38bdf8;
  color: #fff;
  border: 0;
}

button, input {
  border-radius: 50px;
}



main {
  grid-column: 2 / 5;
  background-color: #c3c3c3;
}

